/* Feuille de style du sîte de WOLFGER Killian */
*
{
	font-family: Tahoma, Geneva, sans-serif ;
	color: white;	
	text-align: center;
}

body
{
	background-color: grey; // le bg
	font-color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: ; 
	margin: 0px;
}

#titre_page
{
	text-align: center;
}

#slogan
{
	text-align: center;
}

#main_header
{
	padding: 20px;
	background-image: url("../images/redandblack.jpg");
}

#categorie_title
{
	margin: 2000px; ????????????????????????????
}

#champ_case
{
	color: black;
}

#taaable
{
	text-align: center;
	display: inline-block;
	border-radius: 10px 10px 10px 10px;
	padding :15px;
	background-color: rgba(25,255,255,0.5);	
	border-style: solid;
	border-color: rgba(64,64,64);
	border-width: 2px;
}

#bouton_inscription
{
	background-color: black;
}

#menu
{
	text-align: center;
}

#menu li 
{
	display : inline-block;
	width : 120px;
	list-style-type: none;
	background-color: rgba(25,255,255,0.5);	
	border-radius: 10px 10px 10px 10px;
	margin :20px;
}

#menu li a
{
	display: block;
	color: white;
	font: Tahoma, sans-serif;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	padding: 8px 0;
}

#menu li a:hover
{
	color: black;
	text-decoration: none;	
}

/*#content
{
	margin-left: 20px;
	margin-right: 20px;
}

.article
{
	color: black;
	background-color: rgba(255,255,255,0.5);
	text-align: justify;
	padding: 1em;
	border-radius: 10px 10px 10px 10px;	
	margin-top: 20px;
	margin-bottom: 20px;	
}

#first
{
	margin-top: 100px;
}

img.gauche
{
	height: 150px;
	width: 200px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

img.droite
{
	height: 150px;
	width: 200px;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.deux_colonnes
{
	padding: 1em;
	-moz-column-count: 2;
	-moz-column-gap: 3em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	column-count: 2;
	column-gap: 1em;
}*/

#copyright
{
	color: white;
	height: 3em;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	margin-top: 0px;
	padding: 0px;
	clear: both;
	line-height: 3em;
	clear: both;
}